nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab18df4c0b17157a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "joe-gaming",
        "topic": "joe-gaming/status/switch:0",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "79cdaa172d5bb622",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 140,
        "wires": [
            [
                "4daba74a75273067"
            ]
        ]
    },
    {
        "id": "4daba74a75273067",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "filter in Json",
        "func": "// Extrahiere nur den apower-Wert\nmsg.payload = {\n    apower: msg.payload.apower,\n    voltage: msg.payload.voltage,\n    current: msg.payload.current,\n    totalEnergy: msg.payload.aenergy.total,\n    // temperature: msg.payload.temperature.tC\n    }\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "db9c11489a12371f",
                "abbf5e2f94551eca",
                "5e154169692ba1f8"
            ]
        ]
    },
    {
        "id": "d497eb62bb7bbd9a",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "010337613c475d24",
        "name": "write power in db",
        "measurement": "power",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "db9c11489a12371f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Watt",
        "func": "msg.payload = msg.payload.apower;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d497eb62bb7bbd9a",
                "27a8d2a0bbb7a162"
            ]
        ]
    },
    {
        "id": "abbf5e2f94551eca",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Spannung",
        "func": "msg.payload = msg.payload.voltage;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "4e17931f2538bf95",
                "08d7c3f135bf08e4"
            ]
        ]
    },
    {
        "id": "5e154169692ba1f8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Ampere",
        "func": "msg.payload = msg.payload.current;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "d82e9b2d74409c0e",
                "f447a213eff813a2"
            ]
        ]
    },
    {
        "id": "4e17931f2538bf95",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "010337613c475d24",
        "name": "write voltage in db",
        "measurement": "volt",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "d82e9b2d74409c0e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "010337613c475d24",
        "name": "write current in db",
        "measurement": "current",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "27a8d2a0bbb7a162",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "08d7c3f135bf08e4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "volt",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "f447a213eff813a2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "current",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "79cdaa172d5bb622",
        "type": "mqtt-broker",
        "name": "MQTT-Server",
        "broker": "http://host-ip",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "010337613c475d24",
        "type": "influxdb",
        "hostname": "host-ip",
        "port": 8086,
        "protocol": "http",
        "database": "shelly_database",
        "name": "ShellyDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]